@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to The Ultimate Recipe Explorer!</h1>

Discover a world of flavors and culinary delights with our extensive recipe collection. Whether you're a home cook or a food enthusiast, our website is your gateway to thousands of meals from around the globe.
<br>
<br>
<br>

<h3>What We Offer:</h3>

🍳 Search Recipes by Name: Quickly find your favorite dishes or explore new ones using our easy search feature.
<br>
🌍 Browse by Country: Embark on a culinary journey and discover authentic recipes from different regions and cultures.
<br>
🔤 Browse by Name: Explore meals alphabetically—find what you're craving, from A to Z.
<br>
🥘 Detailed Recipe Information: Each recipe comes with step-by-step instructions, ingredients, and mouthwatering images to inspire your cooking.
<br>
🛒 Ingredient Overview: Get a complete list of all available ingredients and find recipes based on what you have at home.

<br>
<br>
<br>
Whether you’re looking to whip up a quick dinner, impress guests, or try something adventurous, you’ll find everything you need right here.
<br>
<br>
Start exploring today and let your taste buds travel the world! 🌟